---
layout: projects
title: Skills
---
<div class="container">

<div class="card-columns">
  <div class="card">
    <img class="card-img-top" src="../img/edu.jpg" alt="Card image cap">
    <div class="card-body">
      	<h2 class="skill-text">Education</h2>

		{% assign educations = site.skills | where: "usage", "Study" %}

		{% for edu in educations %}
			<div class="justify-content-between align-items-center">
		        <div class="btn-group">
		          <a class="nav-link" href="{{edu.link}}" target="_blank">{{edu.type}}</a>
		        </div>
		        <small class="text-muted">{{edu.skill-level}}</small>
		     </div>
		{% endfor %}
    </div>
  </div>
  <div class="card p-3">
    <blockquote class="blockquote mb-0 card-body">
      <p>“Education is the most powerful weapon which you can use to change the world.”</p>
      <footer class="blockquote-footer">
        <small class="text-muted">
          Nelson Mandela
        </small>
      </footer>
    </blockquote>
  </div>
  <div class="card">
    <img class="card-img-top" src="../img/bachelor.jpg" alt="Card image cap">
    <div class="card-body">
      	<h2 class="skill-text">Bachelor thesis</h2>
		<div class="card-body text-primary">
		    <p class="card-text" style="text-align: center; font-size: 15px;"><a href="https://github.com/kosmels/amt_nn" target="_blank">Processing Music using Methods of Artificial Intelligence</a></p>
		</div>		
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="../img/prog_lang.jpeg" alt="Card image cap">
    <div class="card-body">
      <h2 class="skill-text">Programming</h2>
      <div class="justify-content-between align-items-center">
        <div class="container btn-group box-center">
        	{% assign programs = site.skills | where: "usage", "Programming language" %}
        	{% assign webs = site.skills | where: "usage", "Web development" %}
        	{% assign databases = site.skills | where: "usage", "Database systems" %}
        	{% assign things = programs | concat: webs | concat: databases | sort: "skill-level" | reverse %}

        	{% for program in things %}
        		<p style="font-size: 15px;">{{program.type}} | {{program.usage}}</p>
    			<p {% if program.skill-level == "Beginner" %}class="orange-text"{% endif %} class="green-text" style="font-size: 15px;"><strong>{{program.skill-level}}</strong></p>
        	{% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div class="card bg-primary text-white text-center p-3">
    <blockquote class="blockquote mb-0">
      <p>“People worry that computers will get too smart and take over the world, but the real problem is that they're too stupid and they've already taken over the world.”</p>
      <footer class="blockquote-footer">
        <small>
          Pedro Domingos
        </small>
      </footer>
    </blockquote>
  </div>
  <div class="card text-center">
    <div class="card-body">
    <img class="card-img" src="../img/dl.jpeg" alt="Card image">
      <h2 class="skill-text">Deep learning</h2>
      <div class="card border-light mb-3" style="max-width: 18rem; margin-left: 0%; text-align: center;">
		  <div class="card-header">Music Informtaion Retrieval</div>
		  <div class="card-body text-primary">
		    <p class="card-text" style="text-align: center; font-size: 15px;"><a href="https://github.com/kosmels/amt_nn" target="_blank">Processing Music using Methods of Artificial Intelligence</a></p>
		  </div>
	  </div>
    </div>
  </div>
  <div class="card">
    <img class="card-img" src="../img/book.jpg" alt="Card image">
  </div>
  <div class="card p-3 text-right">
    <blockquote class="blockquote mb-0">
      <p>"Keep calm and always lower your learning rate."</p>
      <footer class="blockquote-footer">
        <small class="text-muted">
          <cite title="Source Title">Google Udacity Deep learning course</cite>
        </small>
      </footer>
    </blockquote>
  </div>
</div>

</div>

