<footer>
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

	<div class="container" style="padding-top: 20px;">
		<div class="row">
			<div class="text-center center-block">
            	<p>MY GITHUB PROJECTS</p>
            	<a href="https://github.com/kosmels?tab=repositories" target="_blank">git</a>
			</div>
			<div class="text-center center-block">
            <a href="https://www.facebook.com/silvester.kosmel" target="_blank"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
            <a href="mailto:kosmel.s@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
		</div>
			<div class="text-center center-block">
            	<p>CONTACT ME</p>
            	<p>+421902555555</p>
            	<p>Monday - Friday</p>
			</div>

		</div>
	</div>
</footer>