---
layout: default
---
<div class="container">
	<h1>{{ page.title }}</h1>
	<p class="meta">{{ page.date | date_to_string }}</p>
	{% if page.author %}
		<p>Autor: <em>{{page.author}}</em></p>
	{% endif %}
	
	<br>
	<div class="container" style="max-width: 80%;">
		{{ content }}
	</div>
	
	<span>[
		Tags:
	  {% for tag in page.tags %}
	    {% capture tag_name %}{{ tag }}{% endcapture %}
	    <a href="/tag/{{ tag_name }}"><code class="highligher-rouge"><nobr>{{ tag_name }}</nobr></code>&nbsp;</a>
	  {% endfor %}
	]</span>	
</div>


